:root {
  --main-color-blue-gradient-light: #253a4e;
  --main-color-blue-gradient-dark: #14202b;
  --background-gradient: linear-gradient(
    180deg,
    var(--main-color-black) 0%,
    var(--main-color-blue-gradient-dark) 75%,
    var(--main-color-blue-gradient-light) 100%
  );
  --main-color-black: #000000;
  --main-color-blue-light: #33495c;
  --font-line-color-yellow: #ffface;
  --font-line-color-yellow-transparent: #ffface60;
  --sound-bar-green: #128110;
  --sound-bar-green-light: #08b808;
  --sound-bar-purple: #8944e0;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--font-line-color-yellow);
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--background-gradient);
}

.nav {
  list-style-type: none;
  width: 100%;
  position: sticky;
  margin: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  background-color: var(--main-color-black) 0%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1.5px solid var(--font-line-color-yellow);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: whitesmoke;
}

button,
textarea,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.logo {
  font-family: MuseoModerno;
  color: var(--sound-bar-green-light);
  font-weight: 600;
  font-size: 25px;
}

.search-bar {
  width: 30%;
  min-width: 200px;
  display: flex;
  padding: 5px;
  margin-right: 20px;
  /* border: 1px solid var(--font-line-color-yellow); */
  border-radius: 15px;
  background: var( --main-color-blue-light);
}

.search-bar input {
  width: 100%;
  background-color: inherit;
  outline: none;
  font-size: small;
}

.search-btn {
  float: right;
  background-color: inherit;
  border: hidden;
}

