/* .selected {
  background: white;
}

.songContainer {
  cursor: pointer;
  user-select: none;
} */

/* .loi {
  margin: 0;
  list-style: none;
  padding: 10px;
}

.loi li {
  padding: 4px 0;
  font-weight: 450;
} */

/* .songlist {
  overflow-y: scroll;
  height: 271px;
} */

/* .song {
  padding: 10px;
} */
