.search-bar {
  width: 30%;
  min-width: 200px;
  display: flex;
  padding: 5px;
  margin-right: 20px;
  /* border: 1px solid var(--font-line-color-yellow); */
  border-radius: 15px;
  background: var( --main-color-blue-light);
}

.search-bar input {
  width: 100%;
  background-color: inherit;
  outline: none;
  font-size: small;
}

.search-btn {
  float: right;
  background-color: inherit;
  border: hidden;
}

